<!-- Classes homepage -->


<!-- Menu integration -->
<% content_for :menu do %>
<% render partial: "tmenu" %>
<%end%>


<h1>Classes and Teacher's homepage</h1>


<p><a data-open="exampleModal11">Add substitute teacher</a></p>

<div class="large reveal" id="exampleModal11" aria-labelledby="exampleModalHeader11" data-reveal>
  <h1 id="exampleModalHeader11">Label for the Modal!</h1>
  <p class="lead">I am even more accessible than the other modals.</p>
  <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<p><a data-open="exampleModal11">Add or modify classes</a></p>

<div class="large reveal" id="exampleModal11" aria-labelledby="exampleModalHeader11" data-reveal>
  <h1 id="exampleModalHeader11">Label for the Modal!</h1>
  <p class="lead">I am even more accessible than the other modals.</p>
  <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
