/* css For the homepage part of the website */

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgb(51,41,135);
	padding: 2.5em;
}

.top-bar-left{
	display: flex;
	flex-direction: row;
}

.top-bar-right{
	display: flex;
	flex-direction: row;
}

.menu {
	display: flex;
	flex-direction: row;
}
a{color: white;}
