#homepagecontent{
  display: flex;
  flex-direction: column;
  }

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}
#card1{
  flex-direction: row;
  background: rgb(255, 232, 67);
}

#card2{
  flex-direction: row;
  background: rgb(201, 208, 265);
}

#card3{
  flex-direction: row-reverse;
  background: rgb(135, 255, 211);
}

#card4{
  flex-direction: row;
  background: rgb(255, 232, 67);
}

#card5{
  flex-direction: row-reverse;
  background: rgb(201, 208, 265);
}

article{
  max-width: 500px;
}
