#homepagecontent{
  display: flex;
  flex-direction: column;
  }

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  margin-bottom: 20px;
}
#card1{
  flex-direction: row;
  background: rgb(255, 237, 135);
}

#card2{
  flex-direction: row;
  background: rgb(201, 208, 265);
}

#card3{
  flex-direction: row-reverse;
  background: rgb(255,226,182);
}

#card4{
  flex-direction: row;
  background: rgb(255, 237, 135);
}

#card5{
  flex-direction: row-reverse;
  background: rgb(201, 208, 265);
  margin: 0px;
}

article{
  max-width: 500px;
}
