#homepagecontent{
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  }
  article{
    max-width: 500px;
  }

  img {
      max-width: 100%;
      height: auto;
      max-height: 500px;
      width: auto\9; /* ie8 */
  }

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  max-height: 500px;
  padding: 3em;
}

.card_background{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
}

#card1{
  flex-direction: row;
  background: rgb(255, 237, 135);
}
#card1_background{
  background: rgb(255, 237, 135);
}
#article1{
  color: rgb(86,84,196);
}

#card2{
  flex-direction: row;
  background: rgb(201, 208, 265);







      position:relative;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
              box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  #card2:before, #card2:after
  {
      content:"";
      position:absolute;
      z-index:-1;
      -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
      -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
      box-shadow:0 0 20px rgba(0,0,0,0.8);
      top:0;
      bottom:0;
      left:10px;
      right:10px;
      -moz-border-radius:100px / 10px;
      border-radius:100px / 10px;
  }
  #card2:after
  {
      right:10px;
      left:auto;
      -webkit-transform:skew(8deg) rotate(3deg);
         -moz-transform:skew(8deg) rotate(3deg);
          -ms-transform:skew(8deg) rotate(3deg);
           -o-transform:skew(8deg) rotate(3deg);
              transform:skew(8deg) rotate(3deg);
  }















#card2_background{
  background: rgb(201, 208, 265);
}
#article2{
  color: rgb(78,79,212);
}

#card3{
  flex-direction: row-reverse;
  background: rgb(255,226,182);
}
#card3_background{
  background: rgb(255,226,182);
}
#article3{
  color: rgb(86,82,202);
}

#card4{
  flex-direction: row;
  background: rgb(255, 237, 135);
}
#card4_background{
  background: rgb(255, 237, 135);
}
#article4{
  color: rgb(86,84,196);
}

#card5{
  flex-direction: row-reverse;
  background: rgb(201, 208, 265);

}
#card5_background{
  background: rgb(201, 208, 265);
  margin-bottom: 0px;
}
#article5{
  color: rgb(78,79,212);
}
