.nav {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top-bar-left{
	display: flex;
	flex-direction: row;
}
.top-bar-right{
	display: flex;
	flex-direction: row;
}
.menu {
	display: flex;
	flex-direction: row;
}