
<!-- "wider" top-bar menu for 'medium' and up -->
<div class="nav">

    <div class="menu" >
      <a href="contact">Contact</a>
      <a href="help">Help</a>
      <a href="sitemap">Site map</a>
      <a href="terms">Terms of use</a>
      <a href="privacy">Privacy notice</a>
    </div>



<ul class="dropdown menu" data-dropdown-menu>
  <li class="is-dropdown-submenu-parent" data-options="is_hover:true" >
    <a href="#">Languages</a>
    <ul class="menu">

          <li> <%= link_to_unless_current "English", locale: "en" %> </li>
          <li> <%= link_to_unless_current "Finnish", locale: "fi" %> </li>
          <li> <%= link_to_unless_current "Swedish", locale: "sv" %> </li>
    </ul>
  </li>

</ul>

</div>





