

<!-- "wider" top-bar menu for 'medium' and up -->
<div class="nav">

  

  <div class="top-bar-left">

    <div>Logo</div>

    <div class="menu" >
      <a href="classes">Classes</a>
      <a href="tcourses">My Courses</a>
      <a href="exercises">Exercises</a>
      <a href="global">Global</a>
    </div>
  </div>


  <div class="top-bar-right">
   
    <div>notification</div>
    
    <div class="menu">
      <a data-open="teachersettings">Account Settings</a>

      <a><%= javascript_pack_tag 'modal' %><a/>
      <a data-open="teacherhelp">Help</a>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
  </div>

</div>



