

<!-- "wider" top-bar menu for 'medium' and up -->
<div class="nav">

  <div class="top-bar-left">

    <div>Logo</div>

    <div class="menu">
      <a href="homeworks">Homeworks</a>
      <a href="scourses">My Courses</a>
      <a href="global">Global</a>
    </div>
  </div>

  <div class="top-bar-right">

    <div>notification</div>

    <div class="menu">
      <a data-open="minigame">Mini Game</a>
      <a data-open="studentsettings">Account Settings</a>
      <a data-open="studenthelp">Help</a>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
  </div>

</div>


