


    <!-- off-canvas title bar for 'small' screen -->

    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">

      <div class="title-bar-left">

        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>

        <span class="title-bar-title">Saaga</span>

      </div>

      <div class="title-bar-right">

        <span class="title-bar-title">Login</span>

        <button class="menu-icon" type="button" data-open="offCanvasRight"></button>

      </div>

    </div>



    <!-- off-canvas left menu -->

    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

      <ul class="vertical dropdown menu" data-dropdown-menu>

        <li><a href="left_item_1">Left item 1</a></li>
        <li><a href="left_item_2">Left item 2</a></li>
        <li><a href="left_item_3">Left item 3</a></li>

      </ul>

    </div>



    <!-- off-canvas right menu -->

    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">

      <ul class="vertical dropdown menu" data-dropdown-menu>

        <li><a href="right_item_1">Right item 1</a></li>
        <li><a href="right_item_2">Right item 2</a></li>
        <li><a href="right_item_3">Right item 3</a></li>

      </ul>

    </div>



    <!-- "wider" top-bar menu for 'medium' and up -->




    <div id="widemenu" class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>


      <li><a href="homeworks">Homeworks</a></li>
      <li><a href="scourses">My Courses</a></li>
      <li><a href="global">Global</a></li>


        </ul>
      </div>



  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Mini Game</a></li>
      <li><a href="#">Account settings</a></li>
      <li><a href="#">Help</a></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>


    </div>


