<% content_for :menu do %>
<% render partial: "smenu" %>
<%end%>


<h1>Student courses</h1>
<p><a data-open="addcourse">Add new course</a></p>

<div class="large reveal" id="addcourse" aria-labelledby="addcourseheader" data-reveal>
  <h1 id="addcourseheader">Add new course</h1>
  <p class="lead">Add a new course here</p>
  <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
